@use "../../_style/Common.scss";

.title {
  font-size: Common.toRem(32px);
  margin-top: Common.toRem(50px);
  margin-bottom: Common.toRem(10px);
}

.slider {
  margin-top: Common.toRem(30px);
  max-width: 100%;
  .slider_item {
    margin-right: Common.toRem(-150px);

    &:nth-child(1),
    &:nth-child(5) {
      z-index: 0;
    }
    &:nth-child(2),
    &:nth-child(4) {
      z-index: 1;
    }
    &:nth-child(3) {
      z-index: 2;
    }
    &:nth-child(6) {
      z-index: -1;
    }
  }
}

.animate {
  position: relative;
  min-height: Common.toRem(330px);
  width: 100%;
  overflow: hidden;
  .slider {
    position: absolute;
  }
}

.wrapper {
  width: Common.toRem(280px);
  height: Common.toRem(300px);
  position: relative;
  .bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    border-radius: Common.toRem(10px);
    background: linear-gradient(
      0deg,
      #00000060,
      transparent,
      transparent,
      #00000060
    );
    color: #fff;
    padding: Common.toRem(15px);
    box-sizing: border-box;
    .item_title {
      font-size: Common.toRem(24px);
    }
    .info {
      display: flex;
      align-items: center;
      &:first-child {
        margin-right: Common.toRem(5px);
      }
      .icon {
        margin-right: Common.toRem(5px);
      }
    }
  }
  .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: Common.toRem(10px);
  }
}
