@use "../../_style/Common.scss";

.wrap {
  @extend .wrap;
  & > div {
    padding: Common.toRem(20px);
    width: Common.toRem(500px);
    .titleBox {
      display: flex;
      justify-content: space-between;
      margin-bottom: Common.toRem(10px);
      .title {
        font-size: Common.toRem(32px);
        margin-bottom: Common.toRem(8px);
      }
      .btnBox {
        align-self: flex-end;
        & button {
          background-color: #fff;
          border: Common.toRem(1px) solid #f1f1f1;
          padding: Common.toRem(5px) Common.toRem(8px);
          border-radius: Common.toRem(5px);
          &:nth-child(1) {
            margin-right: Common.toRem(5px);
          }
        }
      }
    }
    .imgbox {
      width: 100%;
      margin-bottom: Common.toRem(10px);
      & > img {
        height: auto !important;
        position: static !important;
      }
    }
    .gray {
      color: #999;
    }
    .like {
      margin-right: Common.toRem(5px);
    }
    .icon {
      margin-left: Common.toRem(4px);
      & img {
        margin-right: Common.toRem(2px);
      }
    }
    .commentForm {
      width: 100%;
      margin-top: Common.toRem(20px);
      margin-bottom: Common.toRem(10px);
      .input {
        width: calc(100% - Common.toRem(50px));
        height: Common.toRem(40px);
        padding-left: Common.toRem(5px);
        border: 1px solid #f1f1f1;
        border-radius: Common.toRem(10px) 0 0 Common.toRem(10px);
        box-sizing: border-box;
      }
      .btn {
        width: Common.toRem(50px);
        height: Common.toRem(40px);
        border-radius: 0 Common.toRem(10px) Common.toRem(10px) 0;
      }
    }

    .commentWrap {
      margin-bottom: Common.toRem(20px);
      .comment {
        margin-bottom: Common.toRem(12px);
        width: 100%;
        .authoInfo {
          width: 100%;
          margin-bottom: Common.toRem(3px);
          .authorBtnBox {
            & button {
              margin-left: Common.toRem(5px);
              padding: Common.toRem(5px) Common.toRem(8px);
              background-color: #fff;
              border: 1px solid #f1f1f1;
              border-radius: Common.toRem(5px);
            }
          }
        }
        .commentInput {
          font-size: Common.toRem(14px);
          padding: Common.toRem(8px);
          width: 100%;
          box-sizing: border-box;
          border-radius: Common.toRem(5px);
          border: 1px solid #f1f1f1;
        }
      }
    }
  }
}
