@use "../../_style/Common";

.wrap {
  position: relative;
  min-width: 12ch;
}

.search {
  box-sizing: border-box;
  width: 100%;
  height: Common.toRem(30px);
  border-radius: Common.toRem(15px);
  border: 1px solid Common.$normal_border;
  padding: Common.toRem(5px);
  padding-left: Common.toRem(30px);
}

.search_icon {
  position: absolute;
  top: 50%;
  left: Common.toRem(10px);
  transform: translateY(-50%);
}
